.PageHeader {
  display: flex;
  flex-wrap: wrap;
}

.DayLabel {
  display: flex;
  border: 3px solid;
  border-radius: 0.3em;
  padding: 0.4em 0.4em;
  padding-right: 0.8em;
  width: fit-content;
  font-weight: bold;
}

.DayLabelProgress {
  color: var(--text-background);
  border-color: var(--text-color);
}

.DayCheckbox {
  width: 1.4em;
  height: 1.4em;
  margin-right: 1.4em;
}

.WeekDays {
  padding-left: 0;
}

.AuthorizePageMessage {
  padding: 4em;
  font-weight: bold;
}

.CalendarPageHeader {
  display: flex;
  align-items: center;
}

.CalendarLink {
  margin-left: 0.6em;
  display: flex;
  align-items: center;
}

.CalendarLinkIcon {
  margin-left: 0.4em;
  display: flex;
  align-items: center;
}

.CalendarNavigationButtons {
  display: flex;
  align-items: center;
}

.CalendarNavigationButton {
  display: flex;
  border: 3px solid;
  border-radius: 0.3em;
  padding: 0.4em 0.4em;
  width: fit-content;
  font-weight: bold;
  font-size: 1rem;
  align-items: center;
  justify-content: flex-start;
}

.CalendarNavigationButtonReset {
  margin-left: 1em;
}

.CalendarNavigationButtons .CalendarNavigationButton {
  margin-right: 2em;
}

@media (max-width: 1250px) {
  .CalendarLink {
    margin-left: 0;
    margin-top: 0.4em;
    font-size: 0.7em;
  }
}

.Calendar {
  --cell-size: 4em;
  --calendar-grid-color: gray;
  --calendar-muted-date-color: #d0d0d0;
  --calendar-current-date: var(--current-date-background);
  --calendar-event-day-background: #c7e0ff;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 2em 0;

  max-width: calc(7 * var(--cell-size));
  transition: all 0.2s;
}

.CalendarWeekDay {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.CalendarDay {
  position: relative;
  box-sizing: border-box;
  min-height: var(--cell-size);
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid var(--calendar-grid-color);
  border-top: 1px solid var(--calendar-grid-color);
}

.CalendarDayText {
  --state-background: transparent;
  background-color: var(--state-background);
  padding: calc(var(--cell-size) / 2 * 0.5);
  border-radius: 10px;
}

.CalendarPlantWateringIndication {
  position: absolute;
  top: 0.4em;
  right: 0.4em;
  color: var(--color-water);
}

.IconSpacer {
  min-width: 0.4em;
}

.CalendarBackToMainPageLink {
  display: flex;
  align-items: center;
  padding: 0.4em;
  border-radius: 0.3em;
  border: 3px solid;
  width: fit-content;
}
