.PageHeader {
  display: flex;
  flex-wrap: wrap;
}

.DayLabel {
  display: flex;
  border: 3px solid;
  border-radius: 0.3em;
  padding: 0.4em 0.4em;
  padding-right: 0.8em;
  width: fit-content;
  font-weight: bold;
}

.DayLabelProgress {
  color: var(--text-background);
  border-color: var(--text-color);
}

.DayCheckbox {
  width: 1.4em;
  height: 1.4em;
  margin-right: 1.4em;
}

.WeekDays {
  padding-left: 0;
}

.AuthorizePageMessage {
  padding: 4em;
  font-weight: bold;
}

.CalendarPageHeader {
  display: flex;
  align-items: center;
}

.CalendarLink {
  margin-left: 0.6em;
  display: flex;
  align-items: center;
}

.CalendarLinkIcon {
  margin-left: 0.4em;
  display: flex;
  align-items: center;
}

.CalendarNavigationButtons {
  display: flex;
  align-items: center;
}

.CalendarNavigationButton {
  display: flex;
  border: 3px solid;
  border-radius: 0.3em;
  padding: 0.4em 0.4em;
  padding-right: 0.8em;
  width: fit-content;
  font-weight: bold;
  font-size: 1rem;
  justify-content: center;
  align-content: center;
}

.CalendarNavigationButtonReset {
  margin-left: 1em;
}

.CalendarNavigationButtons .CalendarNavigationButton {
  margin-right: 2em;
}

@media (max-width: 1250px) {
  .CalendarLink {
    margin-left: 0;
    margin-top: 0.4em;
    font-size: 0.7em;
  }
}

.Calendar {
  --cell-size: 4em;
  --calendar-grid-color: gray;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 2em 0;

  max-width: calc(7 * var(--cell-size));
}

.CalendarWeekDay {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.CalendarDay {
  box-sizing: border-box;
  min-height: var(--cell-size);
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid var(--calendar-grid-color);
  border-top: 1px solid var(--calendar-grid-color);
}
