.DayLabel {
  display: flex;
  border: 3px solid;
  border-radius: 0.3em;
  padding: 0.4em 0.4em;
  padding-right: 0.8em;
  width: fit-content;
  font-weight: bold;
}

.DayLabelProgress {
  color: var(--text-background);
  border-color: var(--text-color);
}

.DayCheckbox {
  width: 1.4em;
  height: 1.4em;
  margin-right: 1.4em;
}

.WeekDays {
  padding-left: 0;
}

@media (max-width: 1250px) {
  .WeekRange {
    display: block;
    font-size: 0.9em;
  }
}

.AuthorizePageMessage {
  padding: 4em;
  font-weight: bold;
}
